html
  head
    meta(charset="utf-8")
    title Brain Mapping Lab Meeting Listserv Enroll
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet",href="fonts/material-design-iconic-font/css/material-design-iconic-font.min.css")
    link(rel="stylesheet",href="/subscription/css/style.css")

  body
    div.wrapper
      div.inner
        form(action=actionPath, method="POST")
          h3 Join Meeting Email Listserv
          p.
            This registration form is made to simplify the process of joining the Brain Mapping Laboratory
            / UF Norman Fixel Institute for Neurological Diseases Movement Disorders & Neurorestoration Program.
            Please provide your name and email, a confirmation email will be sent to your email address to ensure email address is correct.
            <br>
            <br>
            Sincerely,
            <br>
            Jackson Cagle

          label.form-group
            input.form-control(type="text",name="username",required)
            span Your Name
            span.border
          label.form-group
            input.form-control(type="email",name="email",required)
            span Your Email Address
            span.border

          button Submit
            i.zmdi.zmdi-arrow-right
